PORT=5500
MONGODB_URI = mongodb+srv://jemil:your-password@jemil.kjiobw4.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=hey
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=mynameisjemil
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
